
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; /* no fixed width */
    padding: 10px 0px;
    gap: 20px;
}

.not-found{
    font-size: 30px;
    padding-top: 30px;
}

.total-items{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navigate{
    cursor: pointer;
}

.link-disabled{
    color: rgb(127, 127, 127);
    cursor: default;
}
